<div class="card">
    <a href="/players/{{toLowerCase lastName}}"><img class="card-img-top" src="{{photo}}" alt="Card image cap"></a>
    <div class="card-body">
        <h5 class="card-title">{{name}} {{lastName}}</h5>
        <p class="card-text">{{team}}</p>
    </div>
</div>